# cp env.template .env

# Traefik
VERSION=latest
LOG=INFO

# AWS 
AWS_ACCESS_KEY_ID=""
AWS_REGION=""
AWS_SECRET_ACCESS_KEY=""
TZ="Your-Timezone-Goes-Here"
RESTART=unless-stopped
DOMAIN=""Your-Domain-Goes-Here""

# ACME DNS-01 challenge
PROVIDER="route53"
RESOLVER=1.1.1.1:53
EMAIL="Your-Email-Goes-Here"

# Postgres/Postgres
POSTGRES_USER=""Your-Username-Goes-Here""
POSTGRES_PASSWORD=""Your-Password-Goes-Here""
POSTGRES_DB="nextcloud"

# Nextcloud
POSTGRES_HOST="db"
NEXTCLOUD_ADMIN_USER="Your-Username-Goes-Here"
NEXTCLOUD_ADMIN_PASSWORD="Your-Password-Goes-Here"
REDIS_HOST="redis"
NEXTCLOUD_TRUSTED_DOMAINS=nextcloud.${DOMAIN}
TRUSTED_PROXIES="172.19.0.0/16"