# Traefik
VERSION="latest"
LOG="INFO"

# AWS 
AWS_ACCESS_KEY_ID=""
AWS_REGION=""
AWS_SECRET_ACCESS_KEY=""
TZ=""
RESTART="unless-stopped"

# Hostname/Domain
DOMAIN=""
HOSTNAME=""

# ACME DNS-01 challenge
PROVIDER="route53"
RESOLVER="1.1.1.1:53"
EMAIL=""

# Postgres/Postgres
POSTGRES_USER=""
POSTGRES_PASSWORD=""
POSTGRES_DB=""

# Nextcloud
POSTGRES_HOST="db"
NEXTCLOUD_ADMIN_USER=""
NEXTCLOUD_ADMIN_PASSWORD=""
REDIS_HOST="redis"
NEXTCLOUD_TRUSTED_DOMAINS=${HOSTNAME}.${DOMAIN}
TRUSTED_PROXIES="172.18.0.0/16"
OVERWRITEPROTOCOL="https"
